.main--contribua{
    background-color: white;
    height: 40rem;
}

.texto--contribua{
    color: black;
    padding: 2rem;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

.formasDePagamento{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgPagamento {
    width: 15rem;
    margin: 1rem;
    border-radius: 2rem;

}


@media (max-width: 768px) {
    .main--contribua{
        background-color: white;
        height: 38rem;
    }

    .texto--contribua{
        color: black;
        padding: 2rem;
        text-align: center;
        margin-left: 9rem;
        margin-right: 9rem;
        font-size: 1rem;    
    }

    .imgPagamento {
        width: 12rem;
        margin: 1rem;
        border-radius: 2rem;
    }

}

@media (max-width: 425px) {
    .main--contribua{
        background-color: white;
        height: 65rem;
    }

    .texto--contribua{
        color: black;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 1rem;    
    }

    .formasDePagamento{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgPagamento {
        width: 8.5rem;
        margin: 1rem;
        border-radius: 2rem;
    }


}

