.main--voluntario {
    background-color: #4D203F;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto--voluntariado h1{
    color: #E72360;
    font-size: 2rem;
    margin-top: 7rem;
    margin-left: 18rem;
    margin-right: 18rem;
    margin-bottom: 2rem;
    text-align: center;
}

.texto--voluntariado p {
    margin-top: 2rem;
    margin-left: 16rem;
    margin-right: 16rem;
    margin-bottom: 4rem;
    text-align: center;
}

.button {
    font-size: 1rem;
    padding: 1.3rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    background-color: #E72360;
    width: 18rem;
    margin-top: 3rem;
    text-decoration: none;
}

@media (max-width:768px){
    .main--voluntario {
        background-color: #4D203F;
        height: 23rem;
    }

    .texto--voluntariado h1{
        color: #E72360;
        font-size: 1.5rem;
        margin-top: 5rem;
        margin-left: 13rem;
        margin-right: 13rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .texto--voluntariado p {
        margin-top: 2rem;
        margin-left: 8rem;
        margin-right: 8rem;
        margin-bottom: 4rem;
        text-align: center;
        color:white;
    }

    .button {
        font-size: 0.9rem;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        color: rgb(255, 255, 255);
        margin-left: 1rem;
        margin-right: 2rem;
        border-radius: 2rem;
        background-color: #E72360;
        text-decoration: none;
    }
}

@media (max-width:425px){
    .main--voluntario {
        background-color: #4D203F;
        height: 22rem;
    }

    .texto--voluntariado h1{
        color: #E72360;
        font-size: 1.1rem;
        margin-top: 2.5rem;
        margin-left: 7rem;
        margin-right: 7rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .texto--voluntariado p {
        font-size: 0.8rem;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    .button {
        font-size: 0.7rem;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        color: rgb(255, 255, 255);
        margin-left: 2rem;
        margin-right: 1.5rem;
        border-radius: 2rem;
        background-color: #E72360;
        text-decoration: none;
    }

}