.main-equipe {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 32rem;
}

.tituloEquipe {
    font-size: 2rem;
    text-align: center;
    color: #E72A60;
    padding-top: 5rem;
    font-weight: bold;
}

.card--equipe {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10  rem;
    margin-top: 3.5rem;
}

.img--card {
    width: 10rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card--integrante {
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo--card {
    color: #4D203E;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.descricao--integrante {
    color: #4D203E;
    font-size: 0.8rem;
    text-align: center;
    
}

@media (max-width:800px){
    .main-equipe {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 35rem;
    }

    .tituloEquipe {
        font-size: 1.7rem;
    }

    .card--equipe {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem;
    }

    .card--integrante {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .img--card {
        width: 9rem;
        border-radius: 10px;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}

@media (max-width:425px) {
    .main-equipe {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 35rem;
    }

    .tituloEquipe {
        font-size: 1.5rem;
        padding-top: 2rem;
    }

    .card--equipe {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem;
    }

    .card--integrante {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .img--card {
        width: 7.4rem;
        border-radius: 10px;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .titulo--card {
        color: #4D203E;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
    }
    
    .descricao--integrante {
        color: #4D203E;
        font-size: 0.7rem;
        text-align: center;
    }
}