*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(255, 255, 255);
    background: linear-gradient(329.54deg, rgb(245, 211, 211) 0%, #ffffff 100%);
    padding-top: 96px;
    font-family: 'Open Sans', sans-serif;
}

