*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(255, 255, 255);
    background: linear-gradient(329.54deg, hsl(0deg 4% 5%) 0%, #0d0c0c 100%);
}

body, input, button, textarea{
    font: 600 18px Nunito, sans-serif;
}